#body {
background-color: purple;
}

#caja1 {
    font-size: 100px;
    background: blue;
    color: red;
    text-align: center;

}

#caja2 {

    
    flex-grow: 1;


}

#div1 {
    width: 50%;
    margin-bottom: 100px;
    background-color: blueviolet;
    margin-left: 25%;
}

#div2 {
    width: 50%;
    margin-bottom: 100px;
    background-color: blueviolet;
    margin-left: 25%;
}

#div3 {
    width: 50%;
    margin-bottom: 100px;
    background-color: blueviolet;
    margin-left: 25%;
}


.mini1 {

    width: 100%;
    height: 20%;

}

.mini2{

    width: 100%;
    height: 70%;


}

.mini3 {
    width: 100%;
    height: 10%;
    font-size: 25px;
    
}